[2019-02-21 15:37] dominikraff opened #1 "DestinationUrlPerformanceReport"
Is it also possible to geht DestinationUrlPerformanceReport?
I tried this, but it doesn't work.

[2019-02-21 15:48] dominikraff commented on #1
DestinationUrlPerformanceReportRequest {#646 ▼
  +Aggregation: "Daily"
  +Columns: array:2 [▶]
  +Filter: null
  +Scope: DestinationUrlPerformanceReportScope {#645 ▶}
  +Time: ReportTime {#644 ▶}
  +ExcludeColumnHeaders: null
  +ExcludeReportFooter: null
  +ExcludeReportHeader: null
  +Format: "Csv"
  +Language: null
  +ReportName: "Destination URl Performance Report"
  +ReturnOnlyCompleteData: fa

[2019-02-21 16:19] timothymarois commented on #1
I'll take a look. https://docs.microsoft.com/en-us/bingads/reporting-service/destinationurlperformancereportrequest?view=bingads-12

What is your code you're using to call this service?

[2019-02-21 17:10] dominikraff commented on #1
That's my code, its nearly the same like AdGroupReport

` public function buildDestinationUrlReport()
    {
        $report                         = new DestinationUrlPerformanceReportRequest();
        $report->ReportName             = 'Destination URl Performance Report';
        $report->Format                 = ReportFormat::Csv;
        $report->ReturnOnlyCompleteData = false;
        $repor

[2019-02-23 04:24] timothymarois commented on #1
@dominikraff Looks like it was **due to required fields**. I was able to get it working using below:

- Account Name
- Campaign Name
- TimePeriod
- DestinationUrl

https://docs.microsoft.com/en-us/bingads/reporting-service/destinationurlperformancereportcolumn?view=bingads-12#requiredcolumns

[code]

Also use, `AccountThroughAdGroupReportScope` instead of `DestinationUrlPerformanceReportScope` Tha

[2019-02-24 21:01] #1 closed

[2019-02-25 07:10] dominikraff commented on #1
Thanks!

If you use the field: DestinationUrlPerformanceReportColumn::FinalUrl you can see the url, so it does work!

[2019-02-25 16:16] timothymarois commented on #1
Awesome. Thank you or that. I will have to try it on my project. Let me know if you find anything else useful we can include in this SDK and make it more seamless. Bing is a challenge to work with, that's why I originally built this to make it a lot easier to get data without the hassle of working with all the different sources.

[2019-02-26 05:49] dominikraff commented on #1
Would be nice, if you implement it.

The ads-sdk for laravel is awesome. Yeah, bing is a challenge, Google is a challenge and facebook to. So it it's perfekt! :) 👍

[2019-02-26 13:55] timothymarois commented on #1
@dominikraff Thanks! – I will implement this in the next update.

[2019-02-27 03:32] timothymarois commented on #1
@dominikraff Checkout the recent release `1.2.9` added a bunch of new reports for bing/google. Including final url report :)

[2019-03-27 09:47] dominikraff commented on #1
He Timo,

if i try to install "googleads/googleads-php-lib": "^40.0.0“,

with composer, i always got this problem. Can you solve this?

- grayscale/laravel-ads-sdk v1.2.10 requires googleads/googleads-php-lib ^38.0 -> satisfiable by googleads/googleads-php-lib[38.0.0] but these conflict with your requirements or minimum-stability.
    - grayscale/laravel-ads-sdk 1.2.x-dev requires googleads/google

[2019-03-27 15:23] timothymarois commented on #1
Hello, @dominikraff I will look into this and get back to you. It looks like you're trying to use a newer version of the googleads api. I will run some tests to see if it's still compatible.

[2019-03-28 10:49] dominikraff commented on #1
Yes i try to use a newer version, because 201806 doesn’t work any more on 4. April.
So i would like to update this package, and it isn’t possible.

best regards

Am 27.03.2019 um 16:23 schrieb Timothy Marois <notifications@github.com>:

Hello, @dominikraff <https://github.com/dominikraff> I will look into this and get back to you. It looks like you're trying to use a newer version of the googleads

[2019-03-29 16:47] timothymarois commented on #1
@dominikraff I have pushed a new release version `1.2.11` this includes the new google ads API version 40. Let me know if that solved your issue.

[2019-03-29 16:58] dominikraff commented on #1
Looks like it works, the update works, thanks for your help in this case.

Best regards,
Dominik

Am 29.03.2019 um 17:47 schrieb Timothy Marois <notifications@github.com>:

@dominikraff <https://github.com/dominikraff> I have pushed a new release version 1.2.11 this includes the new google ads API version 40. Let me know if that solved your issue.

—
You are receiving this because you were mention

[2019-06-21 09:40] AnilaBazi opened #2 "Load all Bing Ads Service Customer Client Id"
In Microsoft account i have a list of accounts to choose , how can i get the id of all of them .

[2019-06-21 14:29] timothymarois commented on #2
Hello @AnilaBazi

Currently, it's only designed for you to load into each specific account (customer ids) as such

[code]

But **I do like the idea of adding that feature** such as `->getAccounts()`, I will look into this. If you know a way to do it feel free to add a pull request.

[2019-09-02 03:15] reyadek opened #3 "How to create campaign ..?"
i has install and use this library, and i have done and understand how to use, i have done to get my campaign and edit name of campaign by use this library.....but how this library **create campaign**, any idea..? @timothymarois

[2019-09-02 19:48] timothymarois commented on #3
Hey @reyadek At the moment this API is designed to pull existing campaigns and is heavily based on pulling reporting data from most of the report apis. Always welcome for a pull request on more features. But since the Google/Bing interfaces + they both have editors, this allows easy creation of new items, it just was never a priority for us to build it within the SDK itself.

[2019-09-03 02:49] reyadek commented on #3
Thankyou for replay @timothymarois

[2019-09-03 02:49] #3 closed

[2019-10-21 09:07] MustafaElKhalifa opened #4 "Redirect uri for google ads should be set from config file"
You already hard coded the redirect uri while generating the refresh token and that return error response from google as **redirect_uri_mismatch**

[2019-10-21 12:42] timothymarois commented on #4
@MustafaElKhalifa That's a good point if you want to customize it. The current redirect Uri is `urn:ietf:wg:oauth:2.0:oob` and that is because the way you're supposed to activate the refresh token only needs to use a generic string, I would check the setup again, its designed so you do not need to use a real redirect uri because you use the command line `php artisan laravelads:token:generate --ser

[2019-11-07 19:37] timothymarois commented on #4
Hey @MustafaElKhalifa

I released a new update regarding Bings changes and added that config variable for use.

https://github.com/tmarois/laravel-ads-sdk/releases/tag/v1.2.13

Inside the config of `bing-ads.php` add

[code]

However, by default, I have made it so that it will use that URL if a redirect uri is not found in the config. I have tested this out today and it worked.

[2019-11-07 19:37] #4 closed

[2019-12-11 12:36] dominikraff opened #5 "Call Undefined method ServiceClient::__getLastRequest()"
Hello,

im always getting this Error since some time:
Call to undefined method Microsoft\BingAds\Auth\ServiceClient::__getLastRequest() in /root/akoro/vendor/tmarois/laravel-ads-sdk/src/Services/BingAds/Reports.php:325

Do you have a solution for this?

[2019-12-11 13:14] timothymarois commented on #5
Hey @dominikraff

Can you share some of your code and what you're pulling from the API, this way I can investigate the error a bit further? I know BingAds has changed their API version, maybe you're receiving the error since they did that, but I've been running reports and haven't come across that yet, so I'm curious what you're pulling.

[2019-12-11 15:33] dominikraff commented on #5
I do run this code, i would run a FinalUrlReport:
`$bingAds = LaravelAds::bingAds()->with($client_customer_id);
            $adgroupReport  = $bingAds->reports($this->fromDate, $this->toDate)->getFinalUrlReport();`

[2019-12-12 14:41] timothymarois commented on #5
@dominikraff Thanks, I will look into this today and see if I can find a solution, at least I can catch those errors so it ends gracefully.

[2019-12-12 23:24] timothymarois commented on #5
Hey @dominikraff

I released a new update 1.2.14, it cleans up the BingAds errors. I did run a test on that specific report `getFinalUrlReport` and it has successfully ran on my end (returning results).

BingAds has made an update to their API a few months back, make sure you run `composer update` to be sure. My fix should prevent you from getting the undefined error message, and hopefully, it tel

[2019-12-13 05:43] dominikraff commented on #5
Now i geht this error:

`ErrorException: Undefined variable: reportRequestId in /root/akoro/vendor/tmarois/laravel-ads-sdk/src/Services/BingAds/Reports.php:333
Stack trace:
#0 /root/akoro/vendor/tmarois/laravel-ads-sdk/src/Services/BingAds/Reports.php(333): Illuminate\Foundation\Bootstrap\HandleExceptions->handleError(8, 'Undefined varia...', '/root/akoro/ven...', 333, Array)
#1 /root/akoro/vendor

[2019-12-13 07:12] timothymarois commented on #5
Hey, @dominikraff I have released another quick patch for looking at these bing errors. Run composer again to update and you should now see an output of why the response is failing for you.

[2019-12-14 06:53] dominikraff commented on #5
Thats now the output:

`SoapFault exception: [s:Server] Invalid client data. Check the SOAP fault details for more information in /root/akoro/vendor/tmarois/laravel-ads-sdk/src/Services/BingAds/ReportDownload.php:161`

[2019-12-18 12:03] #5 closed

[2020-02-19 14:10] edwinjerez opened #6 "Is there any function that updates the bid for keyword on bing api?"
Is there any function that updates the bid for keyword on bing api?
And what about the keyword performance report?
if not currently, when can I expect?

[2020-02-19 18:37] edwinjerez opened #7 "V12 is now available?"
when I run the function eg: getCampaignReport for bing, I get the error like

Invalid client data. Check the SOAP fault details for more information
--
 

I tracked the error, but I found the error message is `This version of the Bing Ads API is no longer supported. Please migrate to the latest version of the API.`

this library need to updated to usd V13 for Bing?

[2020-02-19 19:53] timothymarois commented on #7
hey @edwinjerez, which version of the SDK are you using? Bing should work with V13 as of the SDK version `1.2.13`. I will also look into `getCampaignReport` to be sure it's using V13.

[2020-02-19 20:13] timothymarois commented on #7
@edwinjerez I ran a test on `getCampaignReport` and `getAdGroupReport` and both worked since the V13 change. Check that you're using the latest update of the Laravel Ads SDK. If you still see some issues, send more details of what you're trying to run and I can help you troubleshoot.

[2020-02-19 20:16] timothymarois commented on #6
Hey @edwinjerez Currently, the SDK only allows for campaigns/adgroup bid changes. We do have search term performance, but not the keyword performance report. If this is important for you I can add this to the update list coming up.

[2020-02-20 01:23] edwinjerez commented on #7
what sdk version you mean? tmarois/laravel-ads-sdk@1.2.13 you mean?

[2020-02-20 01:32] timothymarois commented on #7
@edwinjerez That's correct.

[2020-02-20 01:43] edwinjerez commented on #7
Actually the problem is that I`m using edujugon/laravel-google-ads, for managing the google ads api, and the googleads/googleads-php-lib is duplicate in both library.
for this reason, when I install your library, there are some issues like
`tmarois/laravel-ads-sdk v1.2.14 requires googleads/googleads-php-lib ^40.0 -> satisfiable by
googleads/googleads-php-lib[40.0.0].`
I`m trying myself, but if yo

[2020-02-20 01:52] edwinjerez commented on #7
I solved the version issue.
but it still get errors like
`Invalid client data. Check the SOAP fault details for more information`

![image](https://user-images.githubusercontent.com/29590370/74893142-a2fe7000-5359-11ea-8b2e-24c8b3966366.png)

`public function getCampaigns() {
        $bingAds = LaravelAds::bingAds()->with('2688821');
        // dd($bingAds);
        $campaigns = $bingAds->reports(

[2020-02-20 20:17] edwinjerez commented on #7
HI @timothymarois
Please help me with this issue.
I think there is little issue on authorization.
I tried https://github.com/BingAds/BingAds-PHP-SDK/ with my credentials, and it`s working.
If I send my credentials can you check if it working in your library?
Thank you.

[2020-02-20 21:50] timothymarois commented on #7
Hey. Join the slack and I can help troubleshoot your case.
https://join.slack.com/t/basephp/shared_invite/enQtNDI0MzQyMDE0MDAwLWU3Nzg0Yjk4MjM0OWVmZDZjMjEyYWE2YjA1ODFhNjI2MzI3MjAyOTIyOTRkMmVlNWNhZWYzMTIwZDJlOWQ2ZTA

On Thu, Feb 20, 2020 at 3:17 PM edwinjerez <notifications@github.com> wrote:

[2020-02-21 02:30] edwinjerez commented on #7
Hi.
I`m really sorry that I was away and your link has expired.
I will be appreciated if you send me the link again.
Thank you.

[2020-02-21 17:32] edwinjerez commented on #7
Hi Timothy.
I really want your help.
Can you send me the invitation link again?

[2020-02-22 12:08] edwinjerez commented on #7
Hi @timothymarois .
I really want your help.
Can you send me the invitation link again?

[2020-02-22 17:44] edwinjerez opened #8 "Where see I get the customer Client Id?"
// calling the Bing Ads Service and including the Customer Client Id
$bingAds = LaravelAds::bingAds()->with('CLIENT_ID');

What is this customer client Id and where can I get it?

[2020-02-24 11:34] timothymarois commented on #8
Hey @edwinjerez If you go into your Bing account, and go to account settings, you want to find a page that has `Manage your account's settings and preferences.` You should see an `Account Id`, this is the client id, they renamed it a few times. I'll have to update the docs. Ironically, it is not the one that says "account number" which is a mix of letters/numbers.

[2020-02-24 11:34] #8 closed

[2020-02-24 11:37] timothymarois commented on #7
Hey, @edwinjerez here is an updated slack invite link.

https://join.slack.com/t/basephp/shared_invite/enQtNDI0MzQyMDE0MDAwLThlNjNlYWM3YWMxMjdhOGFiOTY1ZDFkMzUxMmUzZjJjM2JmZjI0YTg4MDYyYzc3OTc5MGIzYTdkNjQwMTQyNWY

Also, sorry I received your email, I'm actually in Amsterdam for the week, but will try to respond when I'm online.

[2020-02-25 00:41] cissecedric opened #9 "Can't install and configure laravel-ads-sdk in my laravel project"
Hi,

In my laravel project I successfully ad laravel ads with this cmd line :
`composer require tmarois/laravel-ads-sdk:^1.2`

My laravel project version is : Laravel Framework Lumen (5.4.7) (Laravel Components 5.4.*)

But then I m stuck, I can't configure anything related to laravel-ads

When I run this : `php artisan vendor:publish`
I get this error message ; There are no commands defined in the

[2020-02-26 09:20] timothymarois commented on #9
Hey @cissecedric

I’ll have to test with Lumen, at the moment it’s only been confirmed to
work on Laravel 5.5+, I’m currently in Amsterdam and heading back home end
of week, which I’ll be able to run some tests for you then. If you want to
quickly get going, make sure to have the newest version of lumen or
laravel.

On Tue, Feb 25, 2020 at 1:41 AM cissecedric <notifications@github.com>
wrote:

[2020-03-01 21:03] timothymarois commented on #9
HI, @cissecedric Checking in to see if you were able to get your project working. Feel free to jump into Slack if you need any help troubleshooting. (link on the readme)

[2020-03-01 21:04] #7 closed

[2020-03-05 16:08] #9 closed

[2020-04-22 06:58] jamesmills commented on #2
+1 to add this for Google and Bing

[2020-04-22 12:10] jamesmills opened #10 "Cannot install in fresh Laravel application"
Seems to be an issue with monolog version

[code]

[2020-04-22 18:17] timothymarois commented on #10
@jamesmills I will look into this. Thanks.

[2020-04-23 13:57] jamesmills commented on #2
I haven't been able to install your package in the project I am working on but I have been able to use some of it as a base to something I am working on.

One of the things I need to be able to do is allow the user to auth with my application to et the refresh_token (which I have done). Then I need to be able to allow the user to pick an account to link to. It looks like that before I am able to s

[2020-04-23 13:57] jamesmills commented on #2
One way I have been able to list the available accounts for the user is by doing this

[code]

[2020-04-23 14:13] timothymarois commented on #10
@jamesmills Sorry for the delay. Github apparently is having server issues today, so once I'm able to pull packages I'll run some testing, it does look like monolog which is part of the googleads API, so that's odd. Also, what version of Laravel are you using?

[2020-04-23 14:17] jamesmills commented on #10
Hiya!

No worries, don't worry.

I have a fresh install using `Laravel Framework 7.7.1`.

I have a couple of projects on the go where I need to do something very similar. I'm hoping that I can use your package in one and then I will use a mashup of some custom stuff in the other.

Just to note. I do have some code for the Google Ads account listing so I'm hopeful that I can add that to your packag

[2020-04-23 14:23] timothymarois commented on #10
@jamesmills Thanks! Appreciate it. I've been using many SDK/APIs with PHP, and built this because even the ones created by companies like Microsoft are the worse. I saw your additions for the account list, would love to get that into the next version (for both Bing/Google). We're using this SDK for our digital marketing agency managing our client accounts, so that was another incentive of why I ne

[2020-04-23 14:25] jamesmills commented on #2
Update

This gets a list of the 'cusomters'

[code]

example

[code]

[2020-05-28 09:02] ashkesarmaa commented on #10
@timothymarois i have a same problem with laravel 7.*

[2020-05-28 12:52] timothymarois commented on #10
Thanks. If you can, are you able to run a test to see if it's related to laravel 7? I have not tested that, but have run these only on Laravel 5 and 6. I am curious if that is the culprit.

[2020-06-03 00:37] dmyers commented on #10
Also getting this on a Laravel 7 app.

[code]

[2020-06-03 00:40] dmyers commented on #10
I was able to get the Google Ads PHP SDK by itself though using the latest version if it helps:

[code]

[2020-06-03 01:06] timothymarois commented on #10
Hey guys!

Sorry about the delay, this has been fixed with (Version 1.2.18)
Run composer update.

If doing a fresh install use `composer require tmarois/laravel-ads-sdk:^1.2`

Google Ads updates very frequently, their latest update causes dependency issues (which is honestly the first). If you experience any other issues in the SDK let me know so we can get to them quickly.

[2020-06-03 01:07] timothymarois commented on #10
Also, I have tested this install on Laravel v7.11

[2020-06-03 01:07] #10 closed

[2020-06-03 03:54] dmyers commented on #10
Thank you @timothymarois that worked! Excited to try it out. :)

[2020-06-09 09:01] ashkesarmaa commented on #10
Thank you @timothymarois to fixed this issue.

[2020-06-09 21:47] dmyers opened #11 "Googe Ads API Access"
Did you have to design a document to give to Google Ads in order to get API access?

My goal is mostly to just report offline conversions for ad campaigns myself, but it seems like getting API access is a big burden just so I can spend more money and was hoping to see if anyone else had any success.

[2020-06-09 21:49] timothymarois commented on #11
Hey @dmyers, I have done offline conversion imports into Google, I created a few examples here on how you can import conversions. Let me know if this helps.

https://github.com/tmarois/laravel-ads-sdk/blob/master/GoogleAds-SDK.md#offline-conversion-import

As for the design document, that depends, usually, they don't require much for the basic access, if you need access approval, you can easily ju

[2020-06-09 21:55] dmyers commented on #11
Thank you @timothymarois. I really appreciate it! I started working on the implementation from the example code and it is very thorough and useful.

[2020-06-09 22:01] timothymarois commented on #11
Thanks, @dmyers I use it for a lot of our needs, and over the years have been adding more features. If you do find more use-cases that this SDK doesn't have or additional modification, feel free to send in a request or pull and we can work to improve the feature-set. I've been so busy lately I haven't had a chance to dive back into this, but I'm sure some of the code could sure use refactoring. Do

[2020-06-12 22:03] #11 closed

[2020-07-20 15:22] rob-orch opened #13 "Can this library be used with the Bing API Sandbox?"
Hello,

first off, this library looks really awesome. I've tried setting up those services individually and it is just so much work and I can't get it to work most of the time - you are really helping me so much!

Now I wanted to start developing with this library using the Bing Ads API. When developing directly with the SDK I used the sandbox environment to test all my things but I couldn't find

[2020-07-20 15:48] timothymarois commented on #13
@rob-orch Thanks! I'll merge your request in! That was the goal to build one SDK to run both Google/Bing since they can be more complicated to work with separately. Multiple marketing agencies use this library so far, it helps speed up development on most of these projects. Let me know if you have any more feedback. Greatly appreciated.

[2020-07-20 15:48] #13 closed

[2020-07-20 16:00] timothymarois commented on #2
@jamesmills Sorry I missed your comments, were you able to install the package? I believe we had a few issues with GoogleAds version which caused monolog to fail, which was fixed. Just checking in on this. Thanks.

[2020-09-23 12:10] rob-orch opened #15 "(How) is it possible to get the number of Conversions inside a Conversion Action?"
Hello again,

I am currently trying to find out how I can extract the number and value of the Conversions inside a Conversions Action in a given time from Google Ads.

Inside the Google Ads Interface, when going to "Tools" > "Conversions" > "Conversion Actions" I see a list like this (sorry, my Google interface is currently in German):

![dgwgsgsrgsr](https://user-images.githubusercontent.com/6210

[2020-09-23 14:57] rob-orch commented on #15
For anyone interested: I finally managed to achieve something like this using this:

[code]

[2020-09-23 14:57] #15 closed

[2020-10-13 21:47] ashkesarmaa opened #16 "I have a quastion about bing"
to use bing api we should define BING_CLIENT_ID ,BING_CLIENT_SECRET ,BING_REFRESH_TOKEN and for get these information we have to register app in Azure portal. According to this document https://docs.microsoft.com/en-us/advertising/guides/authentication-oauth-identity-platform?view=bingads-13 we should provide the following information:

- Application / API Name
- What account types should be able

[2020-10-14 23:59] timothymarois commented on #16
Hi @ashkesarmaa

So I understand what you're asking, you need help to authenticate this SDK to use the Bing Ads API?

[2020-10-15 08:38] ashkesarmaa commented on #16
Hi @timothymarois

Exactly because as you know bing document is not clear for me and i really need to understand how can i start using your package many thanks

BR

[2020-10-23 16:44] timothymarois commented on #16
@ashkesarmaa Sorry about the delay, let me know if the instructions on here make sense: [bing authentication ](https://github.com/tmarois/laravel-ads-sdk/blob/master/BingAds-Auth.md) if not, feel free to join the [slack channel](https://join.slack.com/t/basephp/shared_invite/enQtNDI0MzQyMDE0MDAwLThlNjNlYWM3YWMxMjdhOGFiOTY1ZDFkMzUxMmUzZjJjM2JmZjI0YTg4MDYyYzc3OTc5MGIzYTdkNjQwMTQyNWY) and I can quick

[2020-10-30 12:41] ashkesarmaa commented on #16
@timothymarois  Many thanks to reply on my request i have a problem to setup yet so i guess i need to join slack channel as you mentioned because this link (Request Bing Ads API Access )in you document returns 404 error, Actually if you can record a toutrial about how can we use your package for bing and  upload it to YouTube it will be amazing.

BR

[2020-10-30 15:00] prympineda opened #17 "Client error: `POST https://oauth2.googleapis.com/token` resulted in a `400 Bad Request` response: { "error": "invalid_grant", "error_description": "Bad Request" }"
![2020-10-30_11h02_20](https://user-images.githubusercontent.com/29893038/97720554-5fbce980-1b03-11eb-9cc9-c3ba8fbf5213.png)

Hi, I got this issue every time I fetch a Campaign. Can you help me with the issue, please?

Here's my code from my controller.

![2020-10-30_22h59_51](https://user-images.githubusercontent.com/29893038/97720750-9a268680-1b03-11eb-91cd-84ab1c901de7.png)

I'm pretty sure tha

[2020-11-23 15:17] brasileric opened #18 "request-bing-ads-api-access"
This url (below) is not available anymore. I really don't understand how to get api access with Bing.

https://advertise.bingads.microsoft.com/en-us/resources/bing-partner-program/request-bing-ads-api-access

[2020-11-23 15:24] timothymarois commented on #18
@brasileric Thanks for this report. Im going to look into this. Bing has been making a lot of changes lately.

[2020-11-23 15:25] timothymarois commented on #17
@prympineda Wanted to follow up here. Have you resolved your issue or is this still ongoing?

[2020-11-23 15:29] brasileric commented on #18
Thanks. It's very complex on the side of Bing indeed.

[2020-11-25 04:42] timothymarois commented on #18
I've updated the documentation and added helpful pages that might guide you in the right direction. I will be running more tests in the next few months with both Google and Bing to be sure this SDK is up to date. If you're still having issues, feel free to submit a question regarding anything specific.

[2020-11-25 04:42] #18 closed

[2020-11-25 04:43] timothymarois commented on #16
@ashkesarmaa I've updated the bing documentation, hopefully that helps in anyway. If you're still having trouble, feel free to ping me via slack.

[2020-11-25 04:43] #16 closed

[2021-01-12 17:59] #17 closed

[2021-01-12 18:00] #6 closed

[2021-03-13 22:31] SasanFouladi commented on #17
Hello
I have encountered exactly the same problem

[2021-05-05 16:16] #2 closed

[2021-05-11 22:36] maxSupermoney opened #27 "Bing Campaigns broken"
Bing campaigns seem to have broken in commit [a37638c35a27b7e51e96162dab554d4814c819c2](https://github.com/tmarois/laravel-ads-sdk/commit/a37638c35a27b7e51e96162dab554d4814c819c2#diff-ae249aca354642f5cacd8ba1684f0aa0cd57989bbc7320e7b9bafc9c1d8a14d1)

Many of the Operation class methods were removed from CampaignOperations, and it does not extend the Operation class like AdGroupOperations so now th

[2021-05-11 22:43] timothymarois commented on #27
Thanks for bringing that up, I believe that's an unreleased commit, maybe something @modernben can take a look at? I haven't had a chance to look over all the changes yet.

[2021-05-11 23:32] #27 closed, assigned to nobody

[2021-06-04 00:45] timothymarois commented on #18
Hello, it's been a while, but  I wanted to be sure you were able to get access to Bing Ads API. I have updated the Bing Ads Guide to access the API with the new steps they require. These steps worked for me as of June 3rd, 2021.

https://github.com/tmarois/laravel-ads-sdk/blob/master/BingAds-Auth.md

Hopefully, this helps in your case and others that have had issues with connecting Bing.

[2021-06-04 00:47] timothymarois commented on #16
Hello, it's been a while, but  I wanted to be sure you were able to get access to Bing Ads API. I have updated the Bing Ads Guide to access the API with the new steps they require. These steps worked for me as of June 3rd, 2021.

https://github.com/tmarois/laravel-ads-sdk/blob/master/BingAds-Auth.md

Hopefully, this helps in your case and others that have had issues with connecting Bing.

Feel fre

[2021-06-16 13:37] bjoernbieniakiewicz opened #30 "Google Ads: QuotaCheckError.INVALID_TOKEN_HEADER88"

[2021-06-16 13:37] bjoernbieniakiewicz opened #31 "Google Ads: QuotaCheckError.INVALID_TOKEN_HEADER"
Hi,

I'm getting a Google\AdsApi\AdWords\v201809\cm\ApiException with the Error Message: QuotaCheckError.INVALID_TOKEN_HEADER when I want to list all Google Ads campaigns.

In the ENV I set the ADWORDS_DEVELOPER_TOKEN, ADWORDS_OAUTH2_CLIENT_ID, ADWORDS_OAUTH2_CLIENT_SECRET and ADWORDS_OAUTH2_REFRESH_TOKEN

The Developer Token is generated through the Google Cloud API Console and I activated the Go

[2021-06-16 13:40] #30 closed

[2021-06-16 13:54] timothymarois commented on #31
Hi,

I'm on the go today, but my quick reference to this specific error says

https://developers.google.com/adwords/api/docs/common-errors#QuotaCheckError.INVALID_TOKEN_HEADER

I would check that your credentials allow you to access some part of the API first as it appears something might be wrong with the developer token

[2021-06-16 13:56] bjoernbieniakiewicz commented on #31
Hi,

thank you for your fast feedback. The developer token is taken from google cloud api console is correct? And in my .env file the token, client data, refresh token is enclosed by quotation marks is correct, right?

I already refreshed my developer token in the cloud api console but it also doesn't work.

[2021-06-16 14:13] timothymarois commented on #31
You have the config setup in Laravel? /config/google-ads.php right?

[2021-06-16 17:34] bjoernbieniakiewicz commented on #31
Yes, got it via the php artisan vendor:publish command and then selected the laravel-ads-sdk

[2021-07-13 00:49] maxSupermoney opened #33 "Facebook Reports: Need to specify proper level param"
In the facebook-implement branch, src/Services/FacebookAds/Reports.php, for functions getCampaignReport and getAdGroupReport, it looks like you need to specify the proper $params['level'], either 'campaign' or 'adset'. It's currently using 'account', and using that I can't get campaign_id or campaign_name when trying to get a campaign report. It seems to work if it's set to 'campaign'. I assume ad

[2021-07-13 01:23] timothymarois commented on #33
Ok thanks, yeah I think I ran that in for testing, I'll add that as a custom option, when testing on `getCampaignReport` and using account level, I was able to get campaign_id and name back, I'm curious to know what params you were using, nonetheless, I'll make it custom, very odd why they are being so specific. New release will be made for Friday, let me know if you find anything else

[2021-07-13 01:24] timothymarois commented on #31
Awesome, glad it worked! Let me know if you have any questions or feedback. Going to close this for now.

[2021-07-13 01:24] #31 closed

[2021-07-13 01:30] maxSupermoney commented on #33
I wonder if it's due to v11 vs v10? This is how I was grabbing the report
[code]

[2021-07-13 14:22] timothymarois commented on #33
Ok, just made an update that moves level param to the default params so that you can override level as a param itself now. and by default for account, campaign and adset it will use the actual level for those reports. Going to close this for now, I'm on discord if you can and we can iron out these details, hope this helps.

[2021-07-13 14:22] #33 closed

[2021-08-19 15:23] SamuelCompary opened #34 "New developers must use the Google Ads API"
Hi,

I'm currently trying to use this package with newly generated Google Ads credentials. And when running `LaravelAds::googleAds()->with($accountNumber)->reports($startDate, $endDate)->getAccountReport();` an exception occurs with the message `Details: [fieldPath: ; trigger: New developers must use the Google Ads API: https://developers.google.com/google-ads/api/docs/start; errorString: QuotaChe

[2021-08-19 16:24] timothymarois commented on #34
Hi @SamuelCompary Good find! I will take a look at this and see how we can update the package.

Here is the [upgrade guide](https://github.com/googleads/googleads-php-lib/blob/master/UPGRADING.md) we'll need to follow on the migration to the new API details. If you find a faster way to implement these changes let me know and we can do some pull requests. Hopefully, it's only fixing a few auth issu

[2021-09-16 19:58] zacksmash opened #35 "Update Facebook Business SDK to v12"
I'm unable to fetch anything from Facebook API due to the library using the v11 API.

I've updated the SDK locally and haven't seen any errors. Would you be willing to bump the composer version?

[2021-09-17 14:13] timothymarois commented on #35
Thanks for the pull, i'll get this in the next release. #36

[2021-09-17 14:13] #35 closed

[2021-10-10 00:30] wenson opened #37 "How to support lumen?"
hi man，
run ` composer require tmarois/laravel-ads-sdk`  is ok.

but `php artisan vendor:publish`  is not work.

What's the next step?

thx a lot.

[2021-10-10 01:00] wenson commented on #37

`
bootstrap app.php

//LaravelAds register
$app->register(\LaravelAds\Providers\LaravelAdsProvider::class);

// LaravelAds alias
$app->alias('LaravelAds',\LaravelAds\Facades\LaravelAds::class);`

Still no work

[2021-10-10 01:16] timothymarois commented on #37
Hi,

I've not tested on the right install flow for Lumen yet, however, it runs like a regular composer package. The install for laravel is mainly for the config. You might be able to bypass that by running the manual config, like this example, and it might work as expected in your project.

https://github.com/tmarois/laravel-ads-sdk/blob/master/GoogleAds-SDK.md#manual-configuration

[2021-10-10 02:10] wenson commented on #37
it's ok.
[code]

it's work now . but have another question .

[2021-10-10 02:10] #37 closed

[2021-11-09 19:20] eugenevdm commented on #34
I'm trying to get this working. It's way above my skill level but I'm trying and have some feedback after a few tries.

What I've done so far:

In composer.json update: `"googleads/googleads-php-lib": "^49.0",` to `"googleads/googleads-php-lib": "^54.0",`
[code]
{
            "type": "path",
            "url": "../laravel-ads-sdk"
        }
[code]
✗ art tinker;
Psy Shell v0.10.9 (PHP 8.0.12 — cli)

[2021-11-09 20:01] eugenevdm commented on #34
Not sure if this is of help? There is a Laravel sample app:

 https://github.com/googleads/googleads-php-lib/tree/master/examples/AdWords/LaravelSampleApp

[2021-11-16 07:13] WebMedic-X opened #40 "Multiple accounts"
Hi,

Is it possible to use this for multiple accounts?

Ex:

- Account owner (Facebook Ads, Google Ads etc) clicks login
- Login gets the access keys required and authorises access for their account
- Keys are stored and used in the API for that specific user

Thank you

[2021-11-17 21:44] timothymarois commented on #40
Hey @WebMedic-X

You can use it for multiple accounts, but you need to know the Ids, there is an endpoint that should give you the account details for each, so yes in your platform you can technically manage multiple accounts. Im not sure about the access keys and administrative features though since that was never the focus of this SDK, but it surely could be expanded to do that as it hooks direc

[2021-12-09 10:56] KinG-InFeT opened #41 "laravel exception after restore token"
[code]

use latest version laravel-ads-sdk and laravel 6

[2021-12-09 10:56] KinG-InFeT opened #42 "add method for renew token manually?"

[2021-12-17 00:48] timothymarois commented on #41
Hey, sorry for the delay. were you trying to do google or bing ads? and is this issue still happening? Ive not seen this before, doesn't exactly ping point to laravel ads sdk issue, unless I can see the code being used to do. Thanks.

[2021-12-17 08:56] KinG-InFeT commented on #41
hi, i use into foreach for creare multiple ads (bing), when token expired out this error

[2021-12-22 08:40] yashanandan commented on #9
Hi, I am having this issue in Lumen 8.3.1. Is it resolved or still open ?

[2022-01-11 16:30] zacksmash commented on #34
I've actually written a fluent query builder for GQL, to use with the Google ADS Api, for reporting anyway. I'm not sure it fits into the existing framework you have setup, but I'd be willing to share!

[2022-01-11 17:15] timothymarois commented on #34
@zacksmash That would be pretty cool. More tools the better!

As for an update to this issue, I will be making an update to get this API back to work on new users have reported. Sorry for the delay.

[2022-01-14 23:13] smaddy commented on #34
The Google **AdWords** Api is only running till 27th April 2022. After that you have to switch to the Google **Ads** API.

[2022-04-05 09:29] vantezzen opened #48 "Bing Report Downloader uses incorrect name when opening report CSVs"
The Bing Report downloader (https://github.com/tmarois/laravel-ads-sdk/blob/master/src/Services/BingAds/ReportDownload.php) always assumes that the report will be available at "[Report ID].csv" after unzipping.

In the last few weeks, MS seems to have changed something in their system though which results in the Report ID being in a format like "15012345678_161234567890" while the actual report cs

[2022-04-05 09:37] vantezzen commented on #48
Ah, just now seeing that #47 is already fixing this issue

[2022-04-05 11:38] timothymarois commented on #48
Awesome, I saw that too, that PR solved your issue right? I'll have that fixed merged soon.

[2022-04-05 12:02] vantezzen commented on #48
Yes that fixes the issue! Although it might still be good to wrap the `file(); unlink();` in a try-finally

[code]

to make sure the file gets deleted even if something throws and doesn't leave old files.

[2022-04-08 09:26] SamuelCompary commented on #48
I disagree, I would personally want the package to throw an exception if something is wrong so it can be attended to immediately rather than an end-user having to report missing data days after Microsoft decides to change stuff again.

[2022-04-08 12:06] vantezzen commented on #48
@SamuelCompary  The try-finally would still throw the exception to your code like it currently does, as there is no `catch` in there - I fully agree that this should throw an exception.

Currently, if the `file()` throws an exception, the `unlink()` will never be reached and thus the zip file remains on disk. Consequently, we had some hundred report zip files on our server which filled the disc sp

[2022-04-08 14:46] SamuelCompary commented on #48
Ah, my bad :) Added it to the PR now1

[2022-04-08 20:29] timothymarois opened #52 "Google Ads API Update (by April 27th, 2022)"
Hey Laravel Ads Users,

We will need to upgrade this API to the new **Google Ads API by April 27th, 2022**

To avoid issues with anyone currently using the Google Ads (AdWords) Integration, we would like to get this done ASAP.

I'm asking to see if anyone currently has a few hours to help upgrade this SDK, please let me know, thank you.

I will try my best to be sure we get an upgrade released, bu

[2022-04-08 20:37] timothymarois commented on #34
Thanks, @smaddy, I know this has been on here for a little while, I created a new ticket regarding this upgrade. #52, Has anyone had any luck testing out the new API? If not I will look into the migration, but given my availability, was hoping someone else has been able to do so.

[2022-04-08 20:48] timothymarois commented on #48
This has been fixed I believe in the new v1.5 now. Thanks for the support guys!

[2022-04-08 20:48] #48 closed

[2022-04-27 08:58] dominikraff commented on #52
What is about this issue?

[2022-04-27 22:02] timothymarois commented on #52
@dominikraff Unless someone else can find a way, the existing [googleads-php-lib](https://github.com/googleads/googleads-php-lib) looks like it's impossible to use at this stage with the new API update from Google.

The author of that package is not clear about it, and if you look at the code base of the AdWords classes, they are all still on  `v201809` which are all deprecated. All examples are a

[2022-04-28 00:48] leolll commented on #52
I believe you can use gRPC or REST with the new API.

[2022-04-28 11:11] dominikraff commented on #52
@timothymarois
Do you have a time plan for the way to a possible solution?

[2022-04-28 13:35] timothymarois commented on #52
@leolll So yes, you can skip on install the PHP ext Protobuf, but you can not skip gRPC, that's a requirement of using the new API.

@dominikraff I have a call this afternoon to discuss a possible upgrade option. Of course, my goal/aim in building this SDK was to support the major ads APIs and make them very easy to use out of the box and for the most part cohesively together. A lot of the major i

[2022-04-28 17:44] leolll commented on #52
@timothymarois Maybe you could setup Github sponsors (or something else) so we can show our support.

[2022-04-28 17:54] leolll commented on #52
To anyone wanting to help with the migration, here are some useful links I've found:

- [5 Step refactor of AdWords API to the Google Ads API in PHP](https://github.com/googleads/google-ads-php/tree/HEAD/examples/Migration)
- [How AdWords API features are mapped to the Google Ads API](https://developers.google.com/google-ads/api/docs/migration/features)
- [Laravel Sample App](https://github.com/go

[2022-04-28 22:33] timothymarois commented on #52
Thank you, I do appreciate it! Something I am open to in the future if there is enough support around the package. I am stretched a bit thin, so it has caused a bit of a bottleneck to get updates as of recently.

I will investigate how much time it will take to get the new Google Ads implemented on this project and some new laravel examples. the gRPC extension is a big deal since it can easily be

[2022-05-25 07:32] leolll commented on #52
I've been looking at the offline conversion feature and it seems we'd need to send the conversion id instead of the conversion name.  I'm thinking it's probably worth caching all conversions by client id.  I could work on this feature.

Any luck updating the main GoogleAds service class?

[2022-06-03 16:51] prajurit5639 commented on #17
me too T_T

[2022-09-17 21:05] zacksmash opened #54 "Bing Ads: Invalid client data"
I'm using the Bing Ads service, with the `getCampaignReport()` method, and I keep getting this error:

[code]

Here's my query:
[code]

I've double checked my credentials and even generated new ones to be absolutely sure. I've request a new access token, using the artisan command provided. Any ideas what could the issue?

[2022-09-21 12:11] webmid commented on #54
@timothymarois
I have same issue!

[2022-09-23 07:01] webmid commented on #54
Hi again. I found the issue. You should change the scope and update Microsoft Bing package to last version
You must update your application to [get user consent](https://learn.microsoft.com/en-us/advertising/guides/authentication-oauth-consent?view=bingads-13) using the new msads.manage scope. All application developers must take action to use the new scope.
for more information read this document

[2022-09-23 08:39] BaukeBoorsma commented on #54
@webmid Thanks for pointing me in the right direction with your comment.
My credentials expired yesterday and I couldn't get them renewed, even when manually changing the url to have the new scopes and enabling MFA on my account (Bing docs said MFA was now also mandatory).
Updating laravel-ads to dev-master, solved it.

[2022-09-26 15:18] zacksmash commented on #54
@webmid How did you change the scope?

[2022-09-28 10:42] webmid commented on #54
@zacksmash

You can see my changes here:

https://github.com/tmarois/laravel-ads-sdk/commit/04021abb4163affaa70be1fcc7f931bab9e9cb71

[2022-09-28 14:20] zacksmash commented on #54
@webmid That's helpful, thank you!

Do we have an estimate on when this will be incorporated into the package, and released? @timothymarois

[2022-11-10 14:52] vantezzen opened #55 "Out-of-band (OOB) flow for Google has been removed"
When using `php artisan laravelads:token:generate --service=GoogleAds`, the OOB flow will be used by setting the redirect URL to "urn:ietf:wg:oauth:2.0:oob".

This has been deprecated and removed by Google (https://developers.google.com/identity/protocols/oauth2/resources/oob-migration#overview), especially for new apps. Due to this, it's impossible to generate new refresh tokens on apps created a